tensorflow
pillow
lxml
jupyter
matplotlib
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
